{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}{{ gettext("Teach") }}{% endblock %}
{% block midbar %}

{% set header = gettext("teachHeader") %}
{% set desc = gettext("teachDesc") %}

{{ galleryHeader(header, desc) }}
{% endblock %}
{% block body %}
<!-- <script type="text/javascript">     
  function mobile() { 
 if( navigator.userAgent.match(/Android/i)
 || navigator.userAgent.match(/webOS/i)
 || navigator.userAgent.match(/iPhone/i)
 || navigator.userAgent.match(/iPad/i)
 || navigator.userAgent.match(/iPod/i)
 || navigator.userAgent.match(/BlackBerry/i)
 || navigator.userAgent.match(/Windows Phone/i)
 ){
    return true;
  }
 else {
    return false;
  }
}  -->
<div class="ui-wrapper">
  {% include "gallery.html" %}
</div>

<!-- </script>   -->
{% endblock %}
{% block CTA %}
  [{
    "title": "{{ gettext("Become a Mentor") }}",
    "desc": "{{ gettext("Become a Mentor Desc") }}",
    "image": "/img/cta-Mentor.jpg",
    "url": "/{{lang}}/mentor"
  },
  {
    "title": "{{ gettext("Maker Party")}}",
    "desc": "{{ gettext("Maker Party Desc") }}",
    "image": "/img/cta-Party.jpg",
    "url": "/{{lang}}/party"
  },
  {
    "title": "{{ gettext("Get Involved")}}",
    "desc": "{{ gettext("Get Involved Desc") }}",
    "image": "/img/cta-Get-Involved.jpg",
    "url": "/{{lang}}/getinvolved"
  },
  {
    "title": "{{ gettext("Use our Tools") }}",
    "desc": "{{ gettext("Use our Tools Desc") }}",
    "image": "/img/cta-Tools.jpg",
    "url": "/{{lang}}/tools"
  }]
{% endblock %}
{% block require_page %}pages/teach{% endblock %}
